.P-home {
  position: relative;
  height: 100%;
  h1 {
    padding: 20px 0;
    font-size: 30px;
    color: #fff;
    background: #67c23a;
    text-align: center;
  }
}
.home-List {
  z-index: 10000px;
  float: left;
  height: 100%;
  .ant-menu-light {
    height: 100%;
  }
}
.ant-menu-item-only-child {
  &:hover {
    box-shadow: 5px 5px 5px #f8e0e0;
    background-color: #d2d1fd1f;
    transition: 0.5s;
  }
}
.site-drawer-render-in-current-wrapper {
  width: 70%;
  position: relative;
  height: 200px;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fff0e6;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
.inhall-drawer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.outhall-drawer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.room-list {
  display: flex;
}
.one-room {
  display: inline-flex;
  float: left;
  margin: 50px 20px 50px 50px;
  justify-content: left;
}
