.P-home {
  height: 100%;
  h1 {
    padding: 20px 0;
    font-size: 30px;
    color: #fff;
    background: #67c23a;
    text-align: center;
  }
}
.home-List {
  height: 100%;
  .ant-menu-light {
    height: 100%;
  }
}
