.M-header {
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  background-color: #cccccc;
  span {
    margin-left: 10px;
  }
}

.ant-btn {
  float: right;
  margin-right: 20px;
  top: 10px;
}
.header-title {
  font-size: 20px;
}
.user-name {
  float: right;
  font-size: 15px;
  font-weight: 30;
  margin-right: 20px;
  color: white;
}
.ant-avatar {
  top: 4px;
  float: right;
}
.popo-card {
  float: right;
}
